 * {
            margin: 0px;
            padding: 0px;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }

        ::webkit-scroollbar {
            height: 0px;
            width: 0px;
        }

        img {
            width: 94vw;
            

        }

        a {
            display: block;
            background-color: rgb(150, 7, 7);
            padding: 30px;
            text-align: center;
            font-weight: bolder;
            text-decoration: none;
            color: white;
            font-size: 1.5em;

        }
        a:hover {
            background-color: rgb(233, 39, 49);
        }
